@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.6;
    color: var(--label-normal);
    background-color: var(--background-normal-normal);
    overflow-x: hidden;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;

    &.dark-mode {
        color: var(--dark-label-normal);
        background-color: var(--dark-background-normal-normal);
    }
}


.web3-features {
    padding: 80px 0;
    margin-top: 120px;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .section-title {
        font-size: 12px;
        font-weight: 600;
        color: var(--primary-normal);
        background: var(--background-normal-alternative);
        padding: 8px 16px;
        border: 1px solid var(--line-normal-normal);
        border-radius: 40px;
        text-transform: uppercase;
        box-shadow: 0 8px 8px var(--fill-alternative);
        margin-bottom: 32px;
        display: inline-block;
        max-width: 120px;
        text-align: center;

        body.dark-mode & {
            background: var(--dark-background-normal-normal);
            border-color: var(--dark-line-normal-normal);
            color: var(--primary-normal);
            box-shadow: 0 8px 8px var(--dark-fill-alternative);
        }
    }

    .section-subtitle {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 40px;
        line-height: 1.2;
        color: var(--label-normal);
        text-align: center;

        body.dark-mode & {
            color: var(--dark-label-normal);
        }

        span {
            background: linear-gradient(135deg, #1D74FF 0%, #3B37FF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .section-description {
        color: var(--label-alternative);
        text-align: center;
        font-family: Pretendard;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 32px;

        body.dark-mode & {
            color: var(--dark-label-alternative);
        }
    }

    .features {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        .feature-wrapper {
            display: flex;
            height: 240px;
            padding: var(--Spacing-100, 10px);
            flex-direction: column;
            align-items: center;
            flex: 1 0 0;

            border-radius: 28px;
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0px 20px 120px 0px rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(1.5px);

            body.dark-mode & {
                background: rgba(0, 0, 0, 0.05);
            }

            .feature {
                display: flex;
                padding: 24px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 24px;
                flex: 1 0 0;
                align-self: stretch;
                border-radius: 20px;
                border: 1px solid #F0F0F2;

                body.dark-mode & {
                    border-color: var(--dark-line-normal-normal);
                }

                img {
                    width: 50px;
                    height: 50px;
                }

                .text-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    align-self: stretch;

                    h3 {
                        color: var(--label-normal);
                        font-family: Pretendard;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 22.4px;

                        body.dark-mode & {
                            color: var(--dark-label-normal);
                        }
                    }

                    p {
                        color: var(--label-alternative);
                        text-align: start;
                        font-family: Pretendard;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 19.6px;

                        body.dark-mode & {
                            color: var(--dark-label-alternative);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .web3-features {
        .features {
            flex-direction: column;

            .feature-wrapper {
                width: 100%;
                height: auto;
            }
        }
    }

    .dex-solution,
    .dapp-browsing {
        .container {
            flex-direction: column-reverse;
            gap: 0;
        }

        .content,
        .image {
            flex: none;
            width: 100%;
        }

        .image {
            margin-bottom: 20px;
        }

        .section-title {
            font-size: 32px;
            line-height: 36px;
        }
    }

    .browser {
        width: 100%;
        padding: 40px 20px;

        .container {
            width: 100%;
        }

        .section-title {
            font-size: 32px;
            line-height: 36px;
        }

        .web3-browser-image {
            width: 100%;
        }

        .features {
            flex-direction: column;
        }
    }

    .solution {
        width: 100%;
        padding: 40px 20px;

        .container {
            width: 100%;

            .section-title {
                font-size: 32px;
                line-height: 36px;
            }

            .content-container {
                flex-direction: column;

                .image-container,
                .feature-list-container {
                    width: 100%;
                }

                .whitelabel-image {
                    max-width: 100%;
                }
            }
        }
    }
}

@media (max-width: 480px) {

    .web3-features,
    .dex-solution,
    .dapp-browsing,
    .browser,
    .solution {
        .section-title {
            font-size: 12px;
            line-height: 32px;
        }

        .section-description {
            font-size: 14px;
        }
    }
}

.dex-solution {
    padding: 80px 24px;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 120px;
        @media (max-width: 768px) {
            gap: 40px;
        }
    }

    .content {
        flex: 1;

        .section-title {
            color: #0E0E0E;
            font-family: Pretendard;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px;
            margin-bottom: 24px;

            body.dark-mode & {
                color: var(--dark-label-strong);
            }

            span {
                background: linear-gradient(135deg, #1D74FF 0%, #3B37FF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .section-description {
            color: #999;
            font-family: Pretendard;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 32px;
            max-width: 364px;

            body.dark-mode & {
                color: var(--dark-label-alternative);
            }
        }

        .feature-list {
            list-style-type: none;
            padding: 0;

            li {
                font-size: 1rem;
                margin-bottom: 0.5rem;
                padding-left: 1.5rem;
                position: relative;
                color: var(--label-normal);

                body.dark-mode & {
                    color: var(--dark-label-normal);
                }

                &::before {
                    content: '✓';
                    position: absolute;
                    left: 0;
                    color: #007bff;
                }
            }
        }
    }

    .image {
        flex: 1;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    @media (max-width: 768px) {
        .container {
            flex-direction: column-reverse;
        }
    }
}

.dapp-browsing {
    padding: 80px 24px;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 120px;
        @media (max-width: 768px) {
            gap: 40px;
        }
    }

    .content {
        flex: 1;

        .section-title {
            color: #0E0E0E;
            font-family: Pretendard;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px;
            margin-bottom: 24px;

            body.dark-mode & {
                color: var(--dark-label-strong);
            }

            span {
                background: linear-gradient(135deg, #1D74FF 0%, #3B37FF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .section-description {
            color: #999;
            font-family: Pretendard;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 32px;
            max-width: 364px;

            body.dark-mode & {
                color: var(--dark-label-alternative);
            }
        }

        .feature-list {
            list-style-type: none;
            padding: 0;

            li {
                font-size: 1rem;
                margin-bottom: 0.5rem;
                padding-left: 1.5rem;
                position: relative;
                color: var(--label-normal);

                body.dark-mode & {
                    color: var(--dark-label-normal);
                }

                &::before {
                    content: '✓';
                    position: absolute;
                    left: 0;
                    color: #007bff;
                }
            }
        }
    }

    .image {
        flex: 1;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    @media (max-width: 768px) {
        .container {
            flex-direction: column;
        }
    }
}

.block-explorer {
    background: url('../assets/bx-bg.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    max-width: 1200px;
    height: auto;
    min-height: 800px;
    margin: 120px auto 0;
    padding: 40px 80px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid #F0F0F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .container {
        max-width: 1040px;
        margin: 0 auto;
        text-align: center;
    }

    .section-tag {
        font-size: 12px;
        font-weight: 600;
        color: var(--primary-normal);
        background: var(--background-normal-alternative);
        padding: 8px 16px;
        border: 1px solid var(--line-normal-normal);
        border-radius: 20px;
        text-transform: uppercase;
        box-shadow: 0px 4px 80px 0px var(--fill-alternative),
            0px 4px 4px 0px var(--fill-normal),
            0px 0px 4px 0px var(--fill-strong) inset;
        max-width: 160px;
        margin-bottom: 32px;
        display: inline-block;

        body.dark-mode & {
            color: var(--primary-normal);
            background: var(--dark-background-normal-normal);
            border-color: var(--dark-line-normal-normal);
            box-shadow: 0px 4px 80px 0px var(--dark-fill-alternative),
                0px 4px 4px 0px var(--dark-fill-normal),
                0px 0px 4px 0px var(--dark-fill-strong) inset;
        }
    }

    .section-title {
        font-size: 40px;
        font-weight: 700;
        color: var(--label-strong);
        margin-bottom: 32px;
        line-height: 1.2;

        body.dark-mode & {
            color: var(--dark-label-strong);
        }

        span {
            background: linear-gradient(135deg, var(--primary-normal) 0%, var(--accent-violet) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .section-description {
        color: #999;
        text-align: center;
        font-family: Pretendard;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 32px;
    }

    .feature-list {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 32px;

        li {
            font-size: 1rem;
            margin: 0.5rem;
            padding: 0.5rem 1rem;
            position: relative;
            display: flex;
            align-items: center;

            &::before {
                content: '✓';
                margin-right: 0.5rem;
                color: #007bff;
            }
        }
    }

    .section-image {
        max-width: 100%;
        height: auto;
        border-radius: 12px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 768px) {
    .block-explorer {
        padding: 60px 14px;
        margin: 40px auto 0;

        .section-title {
            font-size: 32px;
        }

        .section-description {
            font-size: 16px;
        }

        .feature-list {
            flex-wrap: wrap;

            li {
                margin: 6px;
            }
        }
    }
}

.browser {
    background-size: cover;
    width: 100%;
    max-width: 1200px;
    margin: 120px auto 0;
    padding: 40px 14px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid #F0F0F2;
    display: flex;

    @media (max-width: 768px) {
        width: 90%;
    }

    body.dark-mode & {
        border-color: var(--dark-line-normal-normal);
    }

    .container {
        overflow: visible;
        max-width: 1040px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    .section-tag {
        font-size: 12px;
        font-weight: 600;
        color: var(--primary-normal);
        background: var(--background-normal-alternative);
        padding: 8px 16px;
        border: 1px solid var(--line-normal-normal);
        border-radius: 20px;
        text-transform: uppercase;
        box-shadow: 0px 4px 80px 0px var(--fill-alternative),
            0px 4px 4px 0px var(--fill-normal),
            0px 0px 4px 0px var(--fill-strong) inset;
        max-width: 160px;
        margin-bottom: 32px;
        display: inline-block;

        body.dark-mode & {
            background: var(--dark-background-normal-normal);
            border-color: var(--dark-line-normal-normal);
            box-shadow: 0px 4px 80px 0px var(--dark-fill-alternative),
                0px 4px 4px 0px var(--dark-fill-normal),
                0px 0px 4px 0px var(--dark-fill-strong) inset;
        }
    }

    .section-title {
        font-size: 40px;
        font-weight: 700;
        color: var(--label-strong);
        margin-bottom: 32px;
        line-height: 1.2;

        body.dark-mode & {
            color: var(--dark-label-strong);
        }

        span {
            background: linear-gradient(135deg, var(--primary-normal) 0%, var(--accent-violet) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .section-description {
        color: var(--label-alternative);
        text-align: center;
        font-family: Pretendard;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 32px;

        body.dark-mode & {
            color: var(--dark-label-alternative);
        }
    }

    .feature-list {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 32px;

        li {
            font-size: 1rem;
            margin: 0.5rem;
            padding: 0.5rem 1rem;
            position: relative;
            display: flex;
            align-items: center;

            &::before {
                content: '✓';
                margin-right: 0.5rem;
                color: #007bff;
            }

            body.dark-mode & {
                color: var(--dark-label-normal);
            }
        }
    }

    .web3-browser-image {
        max-width: 640px;
        width: 100%;
        height: auto;
    }
}


.features {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .feature-wrapper {
        display: flex;
        height: 240px;
        padding: var(--Spacing-100, 10px);
        flex-direction: column;
        align-items: center;
        flex: 1 0 0;

        border-radius: 28px;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0px 20px 120px 0px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(1.5px);

        body.dark-mode & {
            background: rgba(0, 0, 0, 0.05);
        }

        .feature {
            display: flex;
            padding: 24px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 24px;
            flex: 1 0 0;
            align-self: stretch;
            border-radius: 20px;
            border: 1px solid #F0F0F2;

            body.dark-mode & {
                border-color: var(--dark-line-normal-normal);
            }

            img {
                width: 50px;
                height: 50px;
            }

            .text-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                align-self: stretch;

                h3 {
                    color: var(--label-normal);
                    font-family: Pretendard;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 22.4px;

                    body.dark-mode & {
                        color: var(--dark-label-normal);
                    }
                }

                p {
                    color: var(--label-alternative);
                    text-align: start;
                    font-family: Pretendard;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 19.6px;

                    body.dark-mode & {
                        color: var(--dark-label-alternative);
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .block-explorer {
        padding: 60px 0;
        width: 90%;

        .section-title {
            font-size: 32px;
        }

        .section-description {
            font-size: 16px;
        }

        .feature-list {
            flex-wrap: wrap;

            li {
                margin: 6px;
            }
        }
    }
}

.web3-browser-image {
    width: 640px;
    height: auto;
}

.web3-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
}

.image-container {
    text-align: center;
}

.web3-browser-image {
    width: 640px;
    height: auto;
    max-width: 100%;
}

.features {
    width: 100%;
}

.solution {
    background: url('../assets/solution-bg.png') no-repeat center center;
    background-size: cover;
    max-width: 1200px;
    width: 100%;
    margin: 120px auto 0;
    padding: 40px 80px 0 80px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid #F0F0F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .container {
        max-width: 1040px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        .title-container {
            .section-tag {
                font-size: 12px;
                font-weight: 600;
                color: var(--primary-normal);
                background: var(--background-normal-alternative);
                padding: 8px 16px;
                border: 1px solid var(--line-normal-normal);
                border-radius: 20px;
                text-transform: uppercase;
                box-shadow: 0px 4px 80px 0px var(--fill-alternative),
                    0px 4px 4px 0px var(--fill-normal),
                    0px 0px 4px 0px var(--fill-strong) inset;
                max-width: 160px;
                margin-bottom: 32px;
                display: inline-block;

                body.dark-mode & {
                    color: var(--primary-normal);
                    background: var(--dark-background-normal-normal);
                    border-color: var(--dark-line-normal-normal);
                    box-shadow: 0px 4px 80px 0px var(--dark-fill-alternative),
                        0px 4px 4px 0px var(--dark-fill-normal),
                        0px 0px 4px 0px var(--dark-fill-strong) inset;
                }
            }

            .section-title {
                font-size: 40px;
                font-weight: 700;
                color: var(--label-strong);
                margin-bottom: 32px;
                line-height: 1.2;

                body.dark-mode & {
                    color: var(--dark-label-strong);
                }

                span {
                    background: linear-gradient(135deg, var(--primary-normal) 0%, var(--accent-violet) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            .section-description {
                color: #999;
                text-align: center;
                font-family: Pretendard;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                margin-bottom: 32px;
            }
        }

        .content-container {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            gap: 32px;

            .image-container {
                display: flex;
                text-align: center;

                .whitelabel-image {
                    max-width: 540px;
                    height: auto;
                }
            }

            .feature-list-container {
                flex: 1;
                max-width: 340px;

                .feature-list {
                    list-style-type: none;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-bottom: 32px;

                    li {
                        font-size: 1rem;
                        margin: 0.5rem;
                        padding: 0.5rem 1rem;
                        position: relative;
                        display: flex;
                        align-items: center;

                        &::before {
                            content: '✓';
                            margin-right: 0.5rem;
                            color: #007bff;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        width: 100%;
        padding: 40px 20px;
        border-radius: 25px;

        .container {
            .title-container {
                .section-title {
                    font-size: 32px;
                }
            }

            .content-container {
                flex-direction: column-reverse;
                align-items: center;

                .image-container,
                .feature-list-container {
                    width: 100%;
                    max-width: 100%;
                }

                .image-container {
                    order: 2;
                    margin-top: 32px;

                    .whitelabel-image {
                        max-width: 100%;
                    }
                }

                .feature-list-container {
                    order: 1;
                    margin-bottom: 32px;

                    .feature-list {
                        li {
                            font-size: 14px;
                            margin: 0.25rem;
                            padding: 0.25rem 0.5rem;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 480px) {
        padding: 30px 15px;

        .container {
            .title-container {
                .section-title {
                    font-size: 28px;
                }

                .section-description {
                    font-size: 16px;
                }
            }

            .content-container {
                .feature-list-container {
                    .feature-list {
                        li {
                            font-size: 14px;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}

.features {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;

    .feature-wrapper {
        display: flex;
        height: 240px;
        padding: var(--Spacing-100, 10px);
        flex-direction: column;
        align-items: center;
        flex: 1 0 0;
        border-radius: 28px;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0px 20px 120px 0px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(1.5px);

        .feature {
            display: flex;
            padding: 24px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 24px;
            flex: 1 0 0;
            align-self: stretch;
            border-radius: 20px;
            border: 1px solid #F0F0F2;

            img {
                width: 50px;
                height: 50px;
            }

            .text-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                align-self: stretch;

                h3 {
                    color: var(--label-normal);
                    font-family: Pretendard;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 22.4px;
                }

                p {
                    color: var(--label-alternative);
                    text-align: start;
                    font-family: Pretendard;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 19.6px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .solution {
        width: 90%;
        padding: 40px 20px 0 20px;

        .container {
            .content-container {
                flex-direction: column;

                .image-container,
                .feature-list-container {
                    flex: none;
                    width: 100%;
                }
            }
        }
    }

    .features {
        flex-direction: column;
    }
}

.section {
    text-align: center;

    .section-title-container {
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        .image-container {
            display: flex;
            justify-content: center;
            width: 100%;

            .whitelabel-image {
                max-width: 100%;
                height: auto;
                border-radius: 12px;
            }
        }
    }
}

.wallet .container,
.web3-features .container {
    text-align: center;
    overflow: visible;
}

.homepage-ghost {
    position: absolute;
    top: 20px;
    right: 14px;
    width: 240px;
    z-index: 2;
}

@media (max-width: 768px) {
    .homepage-ghost {
        width: 140px;
        top: -10px;
        right: 20px;
    }
}

body.dark-mode {
    .wallet {
        border-color: var(--dark-line-normal-normal);

        .wallet-features {

            .feature-main,
            .feature-side .feature {
                border-color: var(--dark-line-normal-normal);
            }
        }
    }

    .web3-features {
        .features {
            .feature-wrapper {
                .feature {
                    border-color: var(--dark-line-normal-normal);
                }
            }
        }
    }

    .solution {
        border-color: var(--dark-line-normal-normal);
    }

    .block-explorer {
        border-color: var(--dark-line-normal-normal);
    }

    .browser {
        border-color: var(--dark-line-normal-normal);
    }
}