.dex-solution {
    padding: 80px 24px;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 120px;
    }

    .content {
        flex: 1;

        .section-title {
            color: #0E0E0E;
            font-family: Pretendard;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px;
            margin-bottom: 24px;

            body.dark-mode & {
                color: var(--dark-label-strong);
            }

            span {
                background: linear-gradient(135deg, #1D74FF 0%, #3B37FF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .section-description {
            color: #999;
            font-family: Pretendard;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 32px;
            max-width: 364px;

            body.dark-mode & {
                color: var(--dark-label-alternative);
            }
        }

        .feature-list {
            list-style-type: none;
            padding: 0;

            li {
                font-size: 1rem;
                margin-bottom: 0.5rem;
                padding-left: 1.5rem;
                position: relative;
                color: var(--label-normal);

                body.dark-mode & {
                    color: var(--dark-label-normal);
                }

                &::before {
                    content: '✓';
                    position: absolute;
                    left: 0;
                    color: #007bff;
                }
            }
        }
    }

    .image {
        flex: 1;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

// Media Queries
@media (max-width: 768px) {
    .dex-solution {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 40px 20px;
        border-radius: 25px;

        .container {
            width: 100%;
            padding: 0;
        }

        .content,
        .image {
            flex: none;
            width: 100%;
        }

        .image {
            margin-bottom: 20px;
        }

        .section-title {
            font-size: 32px;
            line-height: 36px;
        }
    }
}

@media (max-width: 480px) {
    .dex-solution {
        .section-title {
            font-size: 12px;
            line-height: 32px;
        }

        .section-description {
            font-size: 14px;
        }
    }
}
