.dex-solution {
    padding: 80px 24px;

    .container {
        max-width: 1040px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 120px;
    }

    .content {
        flex: 1;

        .section-title {
            color: var(--label-strong);
            font-family: Pretendard;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px;
            margin-bottom: 24px;

            @media (max-width: 1024px) {
                font-size: 32px;
                line-height: 36px;
            }

            @media (max-width: 480px) {
                font-size: 32px;
                line-height: 36px;
            }

            body.dark-mode & {
                color: var(--dark-label-strong);
            }

            span {
                background: linear-gradient(135deg, #1D74FF 0%, #3B37FF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .section-description {
            color: var(--label-alternative);
            font-family: Pretendard;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 32px;
            max-width: 364px;

            body.dark-mode & {
                color: var(--dark-label-alternative);
            }
        }

        .feature-list {
            list-style-type: none;
            padding: 0;

            li {
                font-size: 1rem;
                margin-bottom: 0.5rem;
                padding-left: 1.5rem;
                position: relative;
                color: var(--label-normal);

                body.dark-mode & {
                    color: var(--dark-label-normal);
                }

                &::before {
                    content: '✓';
                    position: absolute;
                    left: 0;
                    color: #007bff;
                }
            }
        }
    }

    .image {
        flex: 1;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 768px) {
    .dex-solution {
        .container {
            flex-direction: column-reverse;
            gap: 40px;
            overflow: visible;
        }

        .content,
        .image {
            flex: none;
        }
    }
}

@media (max-width: 480px) {
    .dex-solution {
        .section-title {
            font-size: 12px;
            line-height: 32px;
        }

        .section-description {
            font-size: 14px;
        }
    }
}
