.web3-features {
    padding: 80px 0;
    margin-top: 120px;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .section-title {
        font-size: 12px;
        font-weight: 600;
        color: var(--primary-normal);
        background: var(--background-normal-alternative);
        padding: 8px 16px;
        border: 1px solid var(--line-normal-normal);
        border-radius: 40px;
        text-transform: uppercase;
        box-shadow: 0 8px 8px var(--fill-alternative);
        margin-bottom: 32px;
        display: inline-block;
        max-width: 120px;
        text-align: center;

        body.dark-mode & {
            background: var(--dark-background-normal-alternative);
            border-color: var(--dark-line-normal-normal);
            color: var(--primary-normal);
            box-shadow: 0 8px 8px var(--dark-fill-alternative);
        }
    }

    .section-subtitle {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 40px;
        line-height: 1.2;
        color: var(--label-normal);
        text-align: center;

        body.dark-mode & {
            color: var(--dark-label-normal);
        }

        span {
            background: linear-gradient(135deg, #1D74FF 0%, #3B37FF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .section-description {
        color: var(--label-alternative);
        text-align: center;
        font-family: Pretendard;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 32px;

        body.dark-mode & {
            color: var(--dark-label-alternative);
        }
    }

    .features {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-direction: row;

        .feature-wrapper {
            display: flex;
            height: 240px;
            padding: var(--Spacing-100, 10px);
            flex-direction: column;
            align-items: center;
            flex: 1 0 0;

            border-radius: 28px;
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0px 20px 120px 0px rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(1.5px);

            body.dark-mode & {
                background: rgba(0, 0, 0, 0.05);
            }

            .feature {
                display: flex;
                padding: 24px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 24px;
                flex: 1 0 0;
                align-self: stretch;
                border-radius: 20px;
                border: 1px solid #F0F0F2;

                body.dark-mode & {
                    border-color: var(--dark-line-normal-normal);
                }

                img {
                    width: 50px;
                    height: 50px;
                }

                .text-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    align-self: stretch;

                    h3 {
                        color: var(--label-normal);
                        font-family: Pretendard;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 22.4px;

                        body.dark-mode & {
                            color: var(--dark-label-normal);
                        }
                    }

                    p {
                        color: var(--label-alternative);
                        text-align: start;
                        font-family: Pretendard;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 19.6px;

                        body.dark-mode & {
                            color: var(--dark-label-alternative);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .web3-features {
        .features {
            flex-direction: column;

            .feature-wrapper {
                width: 100%;
                height: auto;
            }
        }
    }

    .dex-solution,
    .dapp-browsing {
        .container {
            flex-direction: column-reverse;
            gap: 0;
        }

        .content,
        .image {
            flex: none;
            width: 100%;
        }

        .image {
            margin-bottom: 20px;
        }

        .section-title {
            font-size: 32px;
            line-height: 36px;
        }
    }

    .browser {
        width: 100%;
        padding: 40px 20px;

        .container {
            width: 100%;
        }

        .section-title {
            font-size: 32px;
            line-height: 36px;
        }

        .web3-browser-image {
            width: 100%;
        }

        .features {
            flex-direction: column;
        }
    }

    .solution {
        width: 100%;
        padding: 40px 20px;

        .container {
            width: 100%;

            .section-title {
                font-size: 32px;
                line-height: 36px;
            }

            .content-container {
                flex-direction: column;

                .image-container,
                .feature-list-container {
                    width: 100%;
                }

                .whitelabel-image {
                    max-width: 100%;
                }
            }
        }
    }
}

@media (max-width: 480px) {

    .web3-features,
    .dex-solution,
    .dapp-browsing,
    .browser,
    .solution {
        .section-title {
            font-size: 12px;
            line-height: 32px;
        }

        .section-description {
            font-size: 14px;
        }
    }
}

.dex-solution {
    padding: 80px 24px;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 120px;
    }

    .content {
        flex: 1;

        .section-title {
            color: #0E0E0E;
            font-family: Pretendard;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px;
            margin-bottom: 24px;

            body.dark-mode & {
                color: var(--dark-label-strong);
            }

            span {
                background: linear-gradient(135deg, #1D74FF 0%, #3B37FF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .section-description {
            color: #999;
            font-family: Pretendard;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 32px;
            max-width: 364px;

            body.dark-mode & {
                color: var(--dark-label-alternative);
            }
        }

        .feature-list {
            list-style-type: none;
            padding: 0;

            li {
                font-size: 1rem;
                margin-bottom: 0.5rem;
                padding-left: 1.5rem;
                position: relative;
                color: var(--label-normal);

                body.dark-mode & {
                    color: var(--dark-label-normal);
                }

                &::before {
                    content: '✓';
                    position: absolute;
                    left: 0;
                    color: #007bff;
                }
            }
        }
    }

    .image {
        flex: 1;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    @media (max-width: 768px) {
        .container {
            flex-direction: column-reverse;
        }
    }
}